$grey-1000: #101113;
$grey-900: #202326;
$grey-800: #40464d;
$grey-700: #687484;
$grey-600: #666687;
$grey-500: #a0aec0;
$grey-400: #b3becd;
$grey-300: #c6ced9;
$grey-200: #d9dfe6;
$grey-150: #eceff2;
$grey-100: #f7fafc;
$grey-0: #fff;

$blue-900: #0c4180;
$blue-700: #1268cc;
$blue-500: #1782ff;
$blue-300: #74b4ff;
$blue-100: #d1e6ff;

$light-blue-900: #295b80;
$light-blue-700: #4091cc;
$light-blue-500: #51b5ff;
$light-blue-300: #95d4ff;
$light-blue-100: #dcf0ff;

$purple-900: #44337a;
$purple-700: #6b46c1;
$purple-500: #9f7aea;
$purple-300: #d6bcfa;
$purple-100: #f2e5ff;

$magenta-900: #97266d;
$magenta-700: #d53f8c;
$magenta-500: #ff9ad4;
$magenta-300: #ffc2e6;
$magenta-100: #ffe1f2;

$yellow-900: #997628;
$yellow-700: #e6b13c;
$yellow-500: #ffc641;
$yellow-300: #ffd67b;
$yellow-100: #ffeec6;

$orange-900: #b36a34;
$orange-700: #e68843;
$orange-500: #ff974a;
$orange-300: #ffc192;
$orange-100: #ffeadb;

$green-900: #13402e;
$green-700: #31aa7a;
$green-500: #3cd598;
$green-300: #9eeacc;
$green-100: #d8f7ea;

$light-green-900: #41621d;
$light-green-700: #5a892a;
$light-green-500: #82c43b;
$light-green-300: #b4dc8a;
$light-green-100: #e6f3d8;

$red-900: #973636;
$red-700: #e35151;
$red-500: #fc5a5a;
$red-300: #fd8c8c;
$red-100: #fedede;

$background: #2a3240;
$yellow: #f5ba41;
$light-background: #fafafa;
$background-modal: #d9dfe672;
