$grey-1000: #101113;
$grey-900: #202326;
$grey-800: #40464D;
$grey-700: #687484;
$grey-600: #666687;
$grey-500: #A0AEC0;
$grey-400: #B3BECD;
$grey-300: #C6CED9;
$grey-200: #D9DFE6;
$grey-150: #ECEFF2;
$grey-100: #F7FAFC;
$grey-0: #FFF;

$blue-900: #0C4180;
$blue-700: #1268CC;
$blue-500: #1782FF;
$blue-300: #74B4FF;
$blue-100: #D1E6FF;

$light-blue-900: #295B80;
$light-blue-700: #4091CC;
$light-blue-500: #51B5FF;
$light-blue-300: #95D4FF;
$light-blue-100: #DCF0FF;

$purple-900: #44337A;
$purple-700: #6B46C1;
$purple-500: #9F7AEA;
$purple-300: #D6BCFA;
$purple-100: #F2E5FF;

$magenta-900: #97266D;
$magenta-700: #D53F8C;
$magenta-500: #FF9AD4;
$magenta-300: #FFC2E6;
$magenta-100: #FFE1F2;

$yellow-900: #997628;
$yellow-700: #E6B13C;
$yellow-500: #FFC641;
$yellow-300: #FFD67B;
$yellow-100: #FFEEC6;

$orange-900: #B36A34;
$orange-700: #E68843;
$orange-500: #FF974A;
$orange-300: #FFC192;
$orange-100: #FFEADB;

$green-900: #13402E;
$green-700: #31AA7A;
$green-500: #3CD598;
$green-300: #9EEACC;
$green-100: #D8F7EA;

$light-green-900: #41621D;
$light-green-700: #5A892A;
$light-green-500: #82C43B;
$light-green-300: #B4DC8A;
$light-green-100: #E6F3D8;

$red-900: #973636;
$red-700: #E35151;
$red-500: #FC5A5A;
$red-300: #FD8C8C;
$red-100: #FEDEDE;

$background: #2A3240;
$yellow: #F5BA41;
$light-background: #FAFAFA;