@use '../../../../assets/styles/variables/colors.scss';

.treatments {
  &__empty {
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    svg {
      height: 15rem;
      width: fit-content;
    }
  }

  &__list {
    gap: 1.25rem;
    display: flex;
    flex-direction: column;

    margin-top: 1.25rem;

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      border-radius: 0.875rem;

      &__side {
        gap: 0.5rem;
        display: flex;
      }

      &__light {
        border: 0.0625rem solid colors.$grey-150;
      }

      &__dark {
        border: 0.0625rem solid colors.$grey-700;
      }
    }

    &__add {
      display: flex;
      justify-content: end;

      button {
        border: 0;
        cursor: pointer;
        background-color: transparent;

        gap: 0.3rem;
        display: flex;
        align-items: center;
      }

      &__light {
        button {
          color: colors.$blue-500;
          transition: all 0.3s ease;

          svg {
            color: colors.$blue-500;
            transition: all 0.3s ease;
          }

          &:hover {
            color: colors.$blue-300;
            svg {
              color: colors.$blue-300;
            }
          }
        }
      }

      &__dark {
        button {
          color: colors.$blue-300;
          transition: all 0.3s ease;

          svg {
            color: colors.$blue-300;
            transition: all 0.3s ease;
          }

          &:hover {
            color: colors.$blue-100;
            svg {
              color: colors.$blue-100;
            }
          }
        }
      }
    }
  }
}

.hygiene {
  background-color: colors.$light-blue-500;
  color: colors.$grey-0;
}

.physical {
  background-color: colors.$green-700;
  color: colors.$grey-0;
}

.beauty {
  background-color: colors.$magenta-700;
  color: colors.$grey-0;
}

.diet {
  background-color: colors.$orange-700;
  color: colors.$grey-0;
}

.other {
  background-color: colors.$grey-600;
  color: colors.$grey-0;
}
