@use '../../assets/styles/variables/colors.scss';

@use '../../assets/styles/variables/fonts.scss';

@use '../../assets/styles/variables/breakpoints.scss';

.dashboard-panel {
  width: calc(94vw - 215.035px);
  height: 95vh;

  margin-top: 1.3rem;
  margin-left: 1.3rem;
  border-radius: 1rem;
  padding: 2.5rem;

  overflow-y: auto;

  .header-mobile {
    display: none;

    &__light {
      border-bottom: 1px solid #d9dfe6;
    }

    &__dark {
      border-bottom: 1px solid colors.$grey-600;
    }

    &__user-info {
      &__light {
        > div {
          svg {
            color: colors.$grey-700;
          }

          .divisor {
            background-color: #d9dfe6;
          }
        }
      }

      &__dark {
        > div {
          svg {
            color: colors.$grey-0;
          }

          .divisor {
            opacity: 0.1;
            background-color: #d9dfe6;
          }
        }
      }
    }
  }

  &__light {
    background-color: colors.$grey-0;
  }

  &__dark {
    background-color: colors.$background;
  }
}

@media (min-width: breakpoints.$breakpoint-xsm) and (max-width: breakpoints.$breakpoint-sm) {
  .dashboard-panel {
    width: 90vw;

    .header-mobile {
      display: flex;
      padding: 1.5rem 1.5rem 1.25rem 1.5rem;

      &__user-info {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        justify-content: space-between;

        width: 100%;

        > div {
          gap: 0.75rem;
          display: flex;
          align-items: center;

          svg {
            cursor: pointer;
          }

          .divisor {
            width: 1px;
            height: 1.1875rem;
          }
        }

        .avatar {
          height: 42px;
          width: 42px;

          display: flex;
          align-items: center;
          justify-content: center;

          border-radius: 100%;

          background-color: colors.$grey-900;

          > svg {
            color: colors.$grey-100;
          }
        }

        .info {
          display: flex;
          flex-direction: column;

          &__light {
            > span {
              color: colors.$grey-600;
            }

            .user-name {
              color: colors.$grey-800;
            }
          }

          &__dark {
            > span {
              color: colors.$grey-200;
            }

            .user-name {
              color: colors.$grey-200;
            }
          }

          > span {
            font-size: 0.875rem;
            font-weight: fonts.$regular-400;
            line-height: 1.375rem;

            width: 5.5rem;
          }

          .user-name {
            font-size: 1.125rem;
            font-weight: fonts.$semi-bold-600;
          }
        }
      }
    }
  }
}

@media (min-width: breakpoints.$breakpoint-sm) and (max-width: breakpoints.$breakpoint-md) {
  .dashboard-panel {
    width: 94vw;

    .header-mobile {
      display: flex;
      padding: 1.5rem 1.5rem 1.25rem 1.5rem;

      &__light {
        border-bottom: 1px solid #d9dfe6;
      }

      &__dark {
        border-bottom: 1px solid colors.$grey-600;
      }

      &__user-info {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        justify-content: space-between;

        width: 100%;

        > div {
          gap: 0.75rem;
          display: flex;
          align-items: center;

          svg {
            cursor: pointer;
          }

          .divisor {
            width: 1px;
            height: 1.1875rem;
          }
        }

        .avatar {
          height: 42px;
          width: 42px;

          display: flex;
          align-items: center;
          justify-content: center;

          border-radius: 100%;

          background-color: colors.$grey-900;

          > svg {
            color: colors.$grey-100;
          }
        }

        .info {
          display: flex;
          flex-direction: column;

          &__light {
            > span {
              color: colors.$grey-600;
            }

            .user-name {
              color: colors.$grey-800;
            }
          }

          &__dark {
            > span {
              color: colors.$grey-200;
            }

            .user-name {
              color: colors.$grey-200;
            }
          }

          > span {
            font-size: 0.875rem;
            font-weight: fonts.$regular-400;
            line-height: 1.375rem;

            width: 5.5rem;
          }

          .user-name {
            font-size: 1.125rem;
            font-weight: fonts.$semi-bold-600;
          }
        }
      }
    }
  }
}

@media (min-width: breakpoints.$breakpoint-md) and (max-width: breakpoints.$breakpoint-lg) {
  .dashboard-panel {
    width: 95vw;

    .header-mobile {
      display: flex;
      padding: 1.5rem 1.5rem 1.25rem 1.5rem;

      &__user-info {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        justify-content: space-between;

        width: 100%;

        > div {
          gap: 0.75rem;
          display: flex;
          align-items: center;

          svg {
            cursor: pointer;
          }

          .divisor {
            width: 1px;
            height: 1.1875rem;
          }
        }

        .avatar {
          height: 42px;
          width: 42px;

          display: flex;
          align-items: center;
          justify-content: center;

          border-radius: 100%;

          background-color: colors.$grey-900;

          > svg {
            color: colors.$grey-100;
          }
        }

        .info {
          display: flex;
          flex-direction: column;

          &__light {
            > span {
              color: colors.$grey-600;
            }

            .user-name {
              color: colors.$grey-800;
            }
          }

          &__dark {
            > span {
              color: colors.$grey-200;
            }

            .user-name {
              color: colors.$grey-200;
            }
          }

          > span {
            font-size: 0.875rem;
            font-weight: fonts.$regular-400;
            line-height: 1.375rem;

            width: 5.5rem;
          }

          .user-name {
            font-size: 1.125rem;
            font-weight: fonts.$semi-bold-600;
          }
        }
      }
    }
  }
}
