@use '../../../assets/styles/variables/colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.weight-page {
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    &__light {
      .outer-circle,
      .inner-circle {
        border: 1.5px solid colors.$grey-150;
      }
    }

    &__dark {
      .outer-circle,
      .inner-circle {
        border: 1.5px solid colors.$grey-700;
      }
    }

    .outer-circle {
      padding: 1rem;
      border-radius: 100%;
    }

    .inner-circle {
      padding: 1rem;
      border-radius: 100%;
    }

    img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  &__title {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  &__result {
    &__light {
      color: colors.$blue-500;
    }

    &__dark {
      color: colors.$blue-300;
    }

    h1 {
      font-size: 80px;
      font-family: 'Noto Sans';
    }
  }

  &__fields {
    gap: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
