@use '../../../assets/styles/variables/breakpoints.scss';

.container-add-pet {
  margin: 2.5rem 6.25rem;

  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: breakpoints.$breakpoint-xsm) and (max-width: breakpoints.$breakpoint-sm) {
  .container-add-pet {
    margin: 1.5rem 0;
  }
}

@media (min-width: breakpoints.$breakpoint-sm) and (max-width: breakpoints.$breakpoint-md) {
  .container-add-pet {
    margin: 1.5rem 0;
  }
}

@media (min-width: breakpoints.$breakpoint-md) and (max-width: breakpoints.$breakpoint-lg) {
  .container-add-pet {
    margin: 1.5rem 0;
  }
}
