@use '../../../assets/styles/variables/colors.scss';

.size-page {
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    &__light {
      .outer-circle,
      .inner-circle {
        border: 1.5px solid colors.$grey-150;
      }
    }

    &__dark {
      .outer-circle,
      .inner-circle {
        border: 1.5px solid colors.$grey-700;
      }
    }

    .outer-circle {
      padding: 1rem;
      border-radius: 100%;
    }

    .inner-circle {
      padding: 1rem;
      border-radius: 100%;
    }

    img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  &__title {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  &__cards {
    gap: 1.875rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: 1.25rem;
  }
}
